@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/icons.woff') format('woff'),
		 url('../fonts/icons.ttf') format('truetype'),
		 url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class*='icons-']:before{
	display: inline-block;
   font-family: 'icons';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icons-agents:before{content:'\0041';}
.icons-assistants:before{content:'\0042';}
.icons-Attach:before{content:'\0043';}
.icons-consultants:before{content:'\0044';}
.icons-design:before{content:'\0045';}
.icons-marketing:before{content:'\0046';}
.icons-Mobile:before{content:'\0047';}
.icons-Web:before{content:'\0048';}
.icons-Write:before{content:'\0049';}
.icons-log-in-button:before{content:'\004a';}
.icons-avatar:before{content:'\004b';}
.icons-email:before{content:'\004c';}
.icons-facebook:before{content:'\004d';}
.icons-key:before{content:'\004e';}
.icons-linkedin:before{content:'\004f';}
.icons-placeholder:before{content:'\0050';}
