
.rate_star:before {
    content: "\f005";
    font-family: 'FontAwesome' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.rate_star{
    color: #848484;
    cursor: pointer;
    font-size: 17px;
}
.rate_star.over{
    color: #f9e431;
}
.rate_star.checked{
    color: #F9D932;
}
.rate_star.disable{
    cursor:not-allowed;
    pointer-events: none;
    color: #9C9B9B;
}
