.job-view-page
{
	padding-top: 50px;
    .title
    {
        p
        {
            font-size: 16px !important;
            color: #727272 !important;
            margin-bottom: 0 !important;
        }
    }
	.job-view-description
	{
		width: calc(100% - 265px);
		display: inline-block;
		border: 1px solid #d9d9d9;
		border-radius: 3px;
		padding: 40px 55px;
		margin-bottom: 50px;

		p
		{
			font-size: 18px;
            margin-bottom: 30px;
			font-weight: 600;
            font-family: Open Sans;
			color: #000;

			&.price
			{
				color: #6e6e6e;

				span
				{
					color: #83c124;
					margin-left: 10px;

				}
			}
			.description
			{
				color: #6e6e6e;
				margin-right: 10px;
				min-width: 100px;
				display: inline-block;
			}
		}
	}
	.button
	{
		width: 208px;
		height: 43px;
		line-height: 43px;
		border-radius: 3px;
		text-align: center;
		float: right;
		vertical-align: top;
		font-family: 'Source Sans Pro';
		font-size: 18px;
		color: #fff;
		font-weight: 400;
		background: #83c124;
		margin-left: 55px;
	}
	.about
	{
        width: 100% !important;
        .text-hidden
        {
            font-size: 14px !important;
            color: #000;
        }
        .more
        {
            color: #83c124;

        }
	}
	.skills
	{
		ul
		{
            margin-bottom: 30px;
			li
			{
				display: inline-block;
				margin-right: 20px;
			}
		}
        & + p
        {
            font-size: 18px;
            color: #6e6e6e;
            font-weight: 600;
            margin-bottom: 15px;

        }
	}
    .attachment
    {
        color: #83c124;
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
        margin-top: 20px;
        display: table;
        &:hover
        {
            color: #59de00;
        }
        &:focus
        {
            color: #489c5a;
        }
        i:before
        {
            font-size: 24px;
            vertical-align: bottom;
            margin-right: 15px;
        }
    }

}
span.more
{
	&:hover
	{
		color: #59de00 !important;
	}
	&:focus
	{
		color: #489c5a !important;
	}
}
.find-job
{
    min-height: calc(100vh - 220px);

	&.proposal-page
	{
		.item
		{
			width: 812px;
			padding: 45px !important;
		}
		.title
		{
			h3.title
			{
				margin: 0 0 20px !important;
				font-size: 18px;
				color: #000;
				font-weight: 600;

				span
				{
					font-size: 18px;
					font-family: Open Sans;
					color: #6e6e6e;
					margin-right: 15px;
				}

			}
		}
		.view-job
		{
			font-size: 18px;
			font-family: Open Sans;
			color: #83c124;

		}
		.about
		{
			width: 100% !important;
			margin-bottom: 10px !important;
		}
	}
}

