
.news-page
{
    h2.title
    {
        color: #6e6e6e;
        font: 700 30px / 36px Open Sans;
        margin: 30px 0 0;
    }
    .pagination
    {
        margin: 32px auto 63px ;
        float: inherit !important;
        display: table;
    }
    .news
    {
        display: inline-block;
        width: calc(100% - 378px - 13px);

        .new
        {
            position: relative;
            background-color: #fff;
            border: 1px solid #e7e7e7;
            margin-top: 25px;
            padding-bottom: 30px;

            p.text
            {
                padding: 30px 25px 10px;
                color: #000;
                font: 300 14px / 36px Open Sans;
                margin-bottom: 0;
            }
            a.read-more
            {
                font-size: 14px;
                font-family: Open Sans;
                color: #83c124;
                padding: 0px 25px;
                font-weight: 600;
            }
        }

        img
        {
            width: 100%;
        }
        h4.title
        {
            background-color: rgba(131, 193, 36, 0.85);
            min-height: 59px;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 16px 110px 16px 20px;
            margin: 0;
            font: 700 18px  Open Sans;

            span
            {
                position: absolute;
                right: 25px;
                top: 16px;
                vertical-align: top;
            }
        }
    }
    .sitebar
    {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        margin-top: 25px;
        width: 373px;
        .tegs
        {
            border: 1px solid #e7e7e7;
            padding: 20px 30px 20px;

            h5.title
            {
                font: 700 18px / 36px Open Sans;
                color: #6c6c6c;
                margin: 0;
            }
            ul.teg
            {
                margin-top: 25px;
                li
                {
                    display: inline-block;
                    background-color: #dfdfdf;
                    border-radius: 10px;
                    line-height: 40px;
                    padding: 0px 25px;
                    margin-bottom: 15px;
                    margin-right: 10px;

                    a
                    {
                        font: 400 14px  Open Sans;
                        color: #000;
                    }

                }
            }
            .watch-more
            {
                font: 600 14px / 14px Open Sans;
                color: #83c124;
                margin: 0;
                display: inline-block;
            }

        }
        .sign-up
        {
            border: 1px solid #e7e7e7;
            padding: 20px 30px 20px;
              margin-top: 20px;
            h5.title
            {
                font: 700 18px / 36px Open Sans;
                color: #6c6c6c;
                margin: 0;
            }

            input[type="email"]
            {
                width: 100%;
                border: 1px solid #e7e7e7;
                height: 37px;
                margin-top: 30px;
                padding: 0 15px;
                font: 700 14px  Open Sans;
            }
            input[type="submit"]
            {
                height: 43px;
                width: 140px;
                border-radius: 5px;
                background: #83c124;
                font-family: 'Source Sans Pro';
                font-size: 16px;
                font-weight: 400;
                color: #fff;
                border: none;
                margin-top: 25px;
                border: 1px solid #a5ca94;
                -webkit-transition: 0.1s;
                -o-transition: 0.1s;
                transition: 0.1s;
                -webkit-transition-property: background;
                transition-property: background;
                &:hover
                {
                    background: #59de00;
                    border-color: #bcf662;
                }
                &:focus
                {
                    background: #489c5a;
                    border-color: #659914;
                }
            }
        }
    }
}
@media only screen and (max-width: 991px)
{
    .news-page
    {
        .news
        {
            display: inline-block;
            width: calc(100% - 202px - 13px);

            .new
            {
                p.text
                {
                    line-height: 26px;
                }
            }
        }
        .sitebar
        {
            width: 200px;

            .tegs
            {
                padding: 20px 15px 20px;

                ul.teg
                {
                    li
                    {
                        padding: 5px 10px;
                        margin-right: 0px;
                        line-height: 0;
                        a
                        {
                            font-size: 11px;
                        }
                    }
                }
            }
            .sign-up
            {
                padding: 20px 15px 20px;
            }

        }
    }
}
@media only screen and (max-width: 767px)
{

    .news-page
    {

        .pagination
        {
            margin-bottom: 0;
        }
        .news
        {
            width: 100%;

            h4.title
            {
                position: relative;
                font: 700 14px Open Sans;
                padding-right: 85px;
                padding: 19px 110px 19px 20px;

                span
                {
                    top: 19px;
                }
            }
        }
        .sitebar
        {
            width: 100%;
            margin: 0 0 60px;
            .sign-up
            {

            }
            .tegs
            {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 480px)
{
    .news-page .news .new p.text
    {
        line-height: 20px;
        padding: 30px 15px 10px;
        font-size: 12px;
    }
}
