/* line 4, D:/claus/css/styles.scss */
.news-page
h2.title {
  color: #6e6e6e;
  font: 700 30px/36px Open Sans;
  margin: 30px 0 0; }

/* line 10, D:/claus/css/styles.scss */
.news-page
.pagination {
  margin: 32px auto 63px;
  float: inherit !important;
  display: table; }

/* line 16, D:/claus/css/styles.scss */
.news-page
.news {
  display: inline-block;
  width: calc(100% - 378px - 13px); }
  /* line 21, D:/claus/css/styles.scss */
  .news-page
.news
.new {
    position: relative;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    margin-top: 25px;
    padding-bottom: 30px; }
    /* line 29, D:/claus/css/styles.scss */
    .news-page
.news
.new
p.text {
      padding: 30px 25px 10px;
      color: #000;
      font: 300 14px/36px Open Sans;
      margin-bottom: 0; }
    /* line 36, D:/claus/css/styles.scss */
    .news-page
.news
.new
a.read-more {
      font-size: 14px;
      font-family: Open Sans;
      color: #83c124;
      padding: 0px 25px;
      font-weight: 600; }
  /* line 46, D:/claus/css/styles.scss */
  .news-page
.news
img {
    width: 100%; }
  /* line 50, D:/claus/css/styles.scss */
  .news-page
.news
h4.title {
    background-color: rgba(131, 193, 36, 0.85);
    min-height: 59px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 110px 16px 20px;
    margin: 0;
    font: 700 18px Open Sans; }
    /* line 63, D:/claus/css/styles.scss */
    .news-page
.news
h4.title
span {
      position: absolute;
      right: 25px;
      top: 16px;
      vertical-align: top; }

/* line 72, D:/claus/css/styles.scss */
.news-page
.sitebar {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 25px;
  width: 373px; }
  /* line 79, D:/claus/css/styles.scss */
  .news-page
.sitebar
.tegs {
    border: 1px solid #e7e7e7;
    padding: 20px 30px 20px; }
    /* line 84, D:/claus/css/styles.scss */
    .news-page
.sitebar
.tegs
h5.title {
      font: 700 18px/36px Open Sans;
      color: #6c6c6c;
      margin: 0; }
    /* line 90, D:/claus/css/styles.scss */
    .news-page
.sitebar
.tegs
ul.teg {
      margin-top: 25px; }
      /* line 93, D:/claus/css/styles.scss */
      .news-page
.sitebar
.tegs
ul.teg
li {
        display: inline-block;
        background-color: #dfdfdf;
        border-radius: 10px;
        line-height: 40px;
        padding: 0px 25px;
        margin-bottom: 15px;
        margin-right: 10px; }
        /* line 103, D:/claus/css/styles.scss */
        .news-page
.sitebar
.tegs
ul.teg
li
a {
          font: 400 14px Open Sans;
          color: #000; }
    /* line 111, D:/claus/css/styles.scss */
    .news-page
.sitebar
.tegs
.watch-more {
      font: 600 14px/14px Open Sans;
      color: #83c124;
      margin: 0;
      display: inline-block; }
  /* line 120, D:/claus/css/styles.scss */
  .news-page
.sitebar
.sign-up {
    border: 1px solid #e7e7e7;
    padding: 20px 30px 20px;
    margin-top: 20px; }
    /* line 125, D:/claus/css/styles.scss */
    .news-page
.sitebar
.sign-up
h5.title {
      font: 700 18px/36px Open Sans;
      color: #6c6c6c;
      margin: 0; }
    /* line 132, D:/claus/css/styles.scss */
    .news-page
.sitebar
.sign-up
input[type="email"] {
      width: 100%;
      border: 1px solid #e7e7e7;
      height: 37px;
      margin-top: 30px;
      padding: 0 15px;
      font: 700 14px Open Sans; }
    /* line 141, D:/claus/css/styles.scss */
    .news-page
.sitebar
.sign-up
input[type="submit"] {
      height: 43px;
      width: 140px;
      border-radius: 5px;
      background: #83c124;
      font-family: 'Source Sans Pro';
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      border: none;
      margin-top: 25px;
      border: 1px solid #a5ca94;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
      -webkit-transition-property: background;
      transition-property: background; }
      /* line 159, D:/claus/css/styles.scss */
      .news-page
.sitebar
.sign-up
input[type="submit"]:hover {
        background: #59de00;
        border-color: #bcf662; }
      /* line 164, D:/claus/css/styles.scss */
      .news-page
.sitebar
.sign-up
input[type="submit"]:focus {
        background: #489c5a;
        border-color: #659914; }

@media only screen and (max-width: 991px) {
  /* line 177, D:/claus/css/styles.scss */
  .news-page
.news {
    display: inline-block;
    width: calc(100% - 202px - 13px); }
    /* line 184, D:/claus/css/styles.scss */
    .news-page
.news
.new
p.text {
      line-height: 26px; }
  /* line 190, D:/claus/css/styles.scss */
  .news-page
.sitebar {
    width: 200px; }
    /* line 194, D:/claus/css/styles.scss */
    .news-page
.sitebar
.tegs {
      padding: 20px 15px 20px; }
      /* line 200, D:/claus/css/styles.scss */
      .news-page
.sitebar
.tegs
ul.teg
li {
        padding: 5px 10px;
        margin-right: 0px;
        line-height: 0; }
        /* line 205, D:/claus/css/styles.scss */
        .news-page
.sitebar
.tegs
ul.teg
li
a {
          font-size: 11px; }
    /* line 212, D:/claus/css/styles.scss */
    .news-page
.sitebar
.sign-up {
      padding: 20px 15px 20px; } }

@media only screen and (max-width: 767px) {
  /* line 226, D:/claus/css/styles.scss */
  .news-page
.pagination {
    margin-bottom: 0; }
  /* line 230, D:/claus/css/styles.scss */
  .news-page
.news {
    width: 100%; }
    /* line 234, D:/claus/css/styles.scss */
    .news-page
.news
h4.title {
      position: relative;
      font: 700 14px Open Sans;
      padding-right: 85px;
      padding: 19px 110px 19px 20px; }
      /* line 241, D:/claus/css/styles.scss */
      .news-page
.news
h4.title
span {
        top: 19px; }
  /* line 247, D:/claus/css/styles.scss */
  .news-page
.sitebar {
    width: 100%;
    margin: 0 0 60px; }
    /* line 255, D:/claus/css/styles.scss */
    .news-page
.sitebar
.tegs {
      display: none; } }

@media only screen and (max-width: 480px) {
  /* line 264, D:/claus/css/styles.scss */
  .news-page .news .new p.text {
    line-height: 20px;
    padding: 30px 15px 10px;
    font-size: 12px; } }

/*# sourceMappingURL=styles.css.map */
