/* line 1, D:/Claus-master/Claus-master/css/styles.scss */
.job-view-page {
  padding-top: 50px; }
  /* line 6, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.title
p {
    font-size: 16px !important;
    color: #727272 !important;
    margin-bottom: 0 !important; }
  /* line 13, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.job-view-description {
    width: calc(100% - 265px);
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 40px 55px;
    margin-bottom: 50px; }
    /* line 22, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.job-view-description
p {
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 600;
      font-family: Open Sans;
      color: #000; }
      /* line 30, D:/Claus-master/Claus-master/css/styles.scss */
      .job-view-page
.job-view-description
p.price {
        color: #6e6e6e; }
        /* line 34, D:/Claus-master/Claus-master/css/styles.scss */
        .job-view-page
.job-view-description
p.price
span {
          color: #83c124;
          margin-left: 10px; }
      /* line 41, D:/Claus-master/Claus-master/css/styles.scss */
      .job-view-page
.job-view-description
p
.description {
        color: #6e6e6e;
        margin-right: 10px;
        min-width: 100px;
        display: inline-block; }
  /* line 50, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.button {
    width: 208px;
    height: 43px;
    line-height: 43px;
    border-radius: 3px;
    text-align: center;
    float: right;
    vertical-align: top;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    background: #83c124;
    margin-left: 55px; }
  /* line 66, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.about {
    width: 100% !important; }
    /* line 69, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.about
.text-hidden {
      font-size: 14px !important;
      color: #000; }
    /* line 74, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.about
.more {
      color: #83c124; }
  /* line 82, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.skills
ul {
    margin-bottom: 30px; }
    /* line 85, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.skills
ul
li {
      display: inline-block;
      margin-right: 20px; }
  /* line 91, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.skills + p {
    font-size: 18px;
    color: #6e6e6e;
    font-weight: 600;
    margin-bottom: 15px; }
  /* line 100, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.attachment {
    color: #83c124;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    display: table; }
    /* line 108, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.attachment:hover {
      color: #59de00; }
    /* line 112, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.attachment:focus {
      color: #489c5a; }
    /* line 116, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.attachment
i:before {
      font-size: 24px;
      vertical-align: bottom;
      margin-right: 15px; }

/* line 129, D:/Claus-master/Claus-master/css/styles.scss */
span.more:hover
,
a.view-job:hover
,
.add-file label:hover {
  color: #59de00 !important; }

/* line 133, D:/Claus-master/Claus-master/css/styles.scss */
span.more:focus
,
a.view-job:focus
,
.add-file label:focus {
  color: #489c5a !important; }

/* line 138, D:/Claus-master/Claus-master/css/styles.scss */
.find-job {
  min-height: calc(100vh - 220px); }
  /* line 144, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.item {
    width: 812px;
    padding: 45px !important;
    margin-top: 20px;
    margin-bottom: 50px; }
  /* line 153, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.title
h3.title {
    margin: 0 0 20px !important;
    font-size: 18px;
    color: #000;
    font-weight: 600; }
    /* line 160, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.title
h3.title
span {
      font-size: 18px;
      font-family: Open Sans;
      color: #6e6e6e;
      margin-right: 15px; }
  /* line 170, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.view-job {
    font-size: 18px;
    font-family: Open Sans;
    color: #83c124; }
  /* line 176, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.about {
    width: 100% !important;
    margin-bottom: 10px !important; }
  /* line 181, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.change-hourly-rate {
    margin-top: 15px; }
    /* line 187, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.change-hourly-rate
p:first-of-type {
      border-top: 1px solid #e6e6e6;
      padding-top: 20px; }
  /* line 194, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.textarea {
    width: 92.5%;
    margin-top: 40px; }
    /* line 198, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.textarea
textarea {
      width: 100%;
      border: 1px solid #d9d9d9;
      height: 150px;
      resize: none;
      padding: 15px 25px;
      font-weight: 700; }
    /* line 207, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.textarea
label {
      font-size: 14px;
      font-weight: 400;
      color: #000;
      float: right;
      margin-top: 15px; }
  /* line 216, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.add-file {
    clear: both;
    margin-top: 90px; }
    /* line 220, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.add-file
#add_file {
      display: none; }
    /* line 224, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.add-file
label {
      font-size: 18px;
      color: #83c124;
      font-weight: 700;
      font-family: Open Sans;
      vertical-align: middle;
      cursor: pointer; }
      /* line 232, D:/Claus-master/Claus-master/css/styles.scss */
      .find-job.proposal-page
.add-file
label
i {
        vertical-align: middle; }
        /* line 235, D:/Claus-master/Claus-master/css/styles.scss */
        .find-job.proposal-page
.add-file
label
i:before {
          font-size: 24px;
          margin-right: 20px; }
    /* line 242, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.add-file
#selectedFiles {
      font-size: 12px;
      line-height: 24px; }
      /* line 247, D:/Claus-master/Claus-master/css/styles.scss */
      .find-job.proposal-page
.add-file
#selectedFiles
.filesize {
        font-size: 12px; }
  /* line 253, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
input[type="submit"] {
    width: 208px;
    height: 43px;
    border: 1px solid #83c124;
    background: #83c124;
    color: #fff;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 0 !important;
    border-radius: 5px;
    margin-top: 35px; }
  /* line 268, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.cancel {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-family: 'Source Sans Pro';
    height: 43px;
    line-height: 43px;
    margin-left: 40px; }
  /* line 283, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.title
h3.title {
    display: inline-block; }
  /* line 287, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.title
ul {
    float: right; }
    /* line 291, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.application-page
.title
ul
li {
      display: inline-block;
      margin-left: 30px;
      font-size: 16px;
      font-weight: 400;
      color: #000; }
      /* line 299, D:/Claus-master/Claus-master/css/styles.scss */
      .find-job.application-page
.title
ul
li
span {
        font-weight: 600;
        color: #6e6e6e; }
  /* line 311, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.change-hourly-rate
p.text {
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    border-bottom: none;
    margin-bottom: 0; }
  /* line 322, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.add-file {
    margin-top: 20px; }
  /* line 326, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.add-files-project {
    background: #f9f9f9; }
  /* line 332, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti.active {
    margin-top: 20px;
    padding: 20px 20px 0; }
  /* line 337, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti
div {
    display: inline-block;
    margin-bottom: 20px; }
  /* line 342, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti
img {
    height: 60px;
    float: inherit;
    margin: 0 10px 0px 0;
    vertical-align: middle; }
  /* line 349, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti
.nameFile {
    width: auto !important;
    display: inline-block;
    vertical-align: middle;
    border: none !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    margin-right: 20px;
    padding: 0 !important; }
  /* line 360, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti
.textFile {
    font-size: 60px;
    vertical-align: middle;
    margin-right: 10px; }

/* line 373, D:/Claus-master/Claus-master/css/styles.scss */
.contracts_freelancer
.tabs-contracts {
  width: 100%; }
  /* line 383, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.description .price,
  .contracts_freelancer
.tabs-contracts
.table_contracts
.description .title,
  .contracts_freelancer
.tabs-contracts
.table_contracts
.description
.hours-worked {
    width: calc(100% / 3.03 );
    display: inline-block; }
  /* line 388, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.description
.hours-worked {
    color: #6e6e6e;
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans; }
  /* line 396, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.tables-applications {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    margin-bottom: 50px; }
  /* line 402, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.tr {
    padding: 25px;
    border-bottom: 1px solid #e1e1e1; }
    /* line 406, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr:first-of-type {
      background: #f3f3f3; }
    /* line 412, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th
p {
      margin-bottom: 0; }
      /* line 415, D:/Claus-master/Claus-master/css/styles.scss */
      .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th
p
b {
        font-size: 16px;
        font-family: Open Sans;
        color: #5b5b5b;
        font-weight: 700; }
    /* line 424, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.td {
      font-family: Open Sans;
      font-size: 16px;
      color: #5b5b5b;
      font-weight: 400; }
      /* line 431, D:/Claus-master/Claus-master/css/styles.scss */
      .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.td
p {
        margin-bottom: 0; }
    /* line 437, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr .td,
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th {
      display: inline-block;
      width: calc(100% / 3 - 150px); }
      /* line 443, D:/Claus-master/Claus-master/css/styles.scss */
      .contracts_freelancer
.tabs-contracts
.table_contracts
.tr .td:first-of-type
,
      .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th:first-of-type {
        width: 40%; }

/* line 460, D:/Claus-master/Claus-master/css/styles.scss */
.contracts_freelancer
.tabs-contracts
.table_contracts.mobile-table {
  display: none; }

/* line 471, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.close {
  position: absolute;
  font-size: 36px;
  right: 10px;
  top: 0px; }

/* line 478, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.modal-dialog {
  width: 600px; }
  /* line 482, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.modal-dialog
.modal-content {
    width: 100%;
    height: auto;
    padding: 60px 50px; }

/* line 491, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
h3 {
  font-size: 36px;
  font-weight: 400;
  font-family: Open Sans;
  margin-top: 0; }

/* line 499, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
.ico {
  width: 123px;
  display: inline-block; }

/* line 504, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
.text {
  display: inline-block;
  width: calc(100% - 128px);
  padding-left: 30px;
  vertical-align: top;
  margin-bottom: 20px; }

/* line 512, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
p {
  font-size: 24px;
  line-height: 30px;
  color: #a9a9a9;
  font-weight: 400;
  font-family: Open Sans; }
  /* line 519, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-content
p
img {
    width: 128px; }

/* line 524, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
.input {
  position: relative;
  width: calc(100% - 170px);
  display: inline-block; }
  /* line 529, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-content
.input
input {
    border: 1px solid #898989;
    width: 100%;
    padding: 0 40px 0 10px;
    height: 35px; }
  /* line 536, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-content
.input
i {
    position: absolute;
    right: 10px;
    top: 8px; }

/* line 544, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
input[type="submit"] {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  background-color: #62cb31;
  border-radius: 5px;
  width: 145px;
  height: 35px;
  color: #fff;
  margin-left: 20px;
  border: 1px solid #62cb31; }

/* line 556, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-thank {
  display: none; }
  /* line 559, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-thank
p {
    font-size: 30px;
    font-family: Open Sans;
    line-height: 36px;
    color: #515151;
    text-align: center;
    font-weight: 400; }
    /* line 567, D:/Claus-master/Claus-master/css/styles.scss */
    .modal.subscribe
.subscribe-thank
p
img {
      width: 154px; }
  /* line 572, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-thank
.ico {
    width: 103px;
    display: table;
    margin: 20px auto 0; }

/* line 585, D:/Claus-master/Claus-master/css/styles.scss */
.payment-schedule
h2.title {
  font-size: 28px;
  font-weight: 600;
  color: #727272;
  margin: 25px 0 33px; }

/* line 592, D:/Claus-master/Claus-master/css/styles.scss */
.payment-schedule
.tr {
  margin-bottom: 50px; }
  /* line 595, D:/Claus-master/Claus-master/css/styles.scss */
  .payment-schedule
.tr
.th {
    width: 200px;
    display: inline-block;
    vertical-align: middle; }
    /* line 601, D:/Claus-master/Claus-master/css/styles.scss */
    .payment-schedule
.tr
.th
p {
      font-size: 14px;
      font-family: Open Sans;
      color: #757575;
      font-weight: 700;
      vertical-align: middle;
      margin-bottom: 0 !important; }
  /* line 612, D:/Claus-master/Claus-master/css/styles.scss */
  .payment-schedule
.tr
.td {
    margin-left: 20px;
    width: calc(100% - 225);
    display: inline-block;
    vertical-align: middle; }
    /* line 618, D:/Claus-master/Claus-master/css/styles.scss */
    .payment-schedule
.tr
.td
p {
      font-size: 14px;
      color: #757575;
      font-weight: 400; }
    /* line 624, D:/Claus-master/Claus-master/css/styles.scss */
    .payment-schedule
.tr
.td
.select {
      position: relative;
      width: 236px; }
      /* line 628, D:/Claus-master/Claus-master/css/styles.scss */
      .payment-schedule
.tr
.td
.select
select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none !important;
        border: 1px solid #81bf23;
        width: 303px;
        height: 38px;
        background-color: #ffffff;
        border-radius: 3px;
        font: 300 14px/36px Open Sans;
        padding-left: 10px;
        width: 100%; }
        /* line 643, D:/Claus-master/Claus-master/css/styles.scss */
        .payment-schedule
.tr
.td
.select
select::-ms-expand {
          display: none; }
      /* line 648, D:/Claus-master/Claus-master/css/styles.scss */
      .payment-schedule
.tr
.td
.select:after {
        content: "";
        position: absolute;
        right: 12px;
        top: 16px;
        border: 7px solid transparent;
        border-top: 9px solid #83c124;
        pointer-events: none; }
    /* line 659, D:/Claus-master/Claus-master/css/styles.scss */
    .payment-schedule
.tr
.td
label {
      font-size: 14px;
      color: #757575;
      font-weight: 400;
      font-family: Open Sans;
      cursor: pointer; }
      /* line 667, D:/Claus-master/Claus-master/css/styles.scss */
      .payment-schedule
.tr
.td
label:last-of-type {
        margin-left: 15px; }
    /* line 673, D:/Claus-master/Claus-master/css/styles.scss */
    .payment-schedule
.tr
.td
input[type="radio"] {
      display: none; }
      /* line 677, D:/Claus-master/Claus-master/css/styles.scss */
      .payment-schedule
.tr
.td
input[type="radio"] + label {
        cursor: pointer;
        margin: 0;
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #dbdbdb;
        vertical-align: middle;
        border-radius: 50%;
        padding: 2px;
        min-height: 18px; }
        /* line 690, D:/Claus-master/Claus-master/css/styles.scss */
        .payment-schedule
.tr
.td
input[type="radio"] + label:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: #fff; }
      /* line 700, D:/Claus-master/Claus-master/css/styles.scss */
      .payment-schedule
.tr
.td
input[type="radio"]:checked + label::before {
        background: #83c124; }
    /* line 706, D:/Claus-master/Claus-master/css/styles.scss */
    .payment-schedule
.tr
.td
.datapicker {
      border: 1px solid #81bf23;
      border-radius: 3px;
      height: 38px;
      width: 125px;
      padding-left: 10px; }
  /* line 720, D:/Claus-master/Claus-master/css/styles.scss */
  .payment-schedule
.tr:nth-of-type(2) .td,
  .payment-schedule
.tr:nth-of-type(2)
.th
,
  .payment-schedule
.tr:nth-last-of-type(2) .td,
  .payment-schedule
.tr:nth-last-of-type(2)
.th {
    vertical-align: top; }
  /* line 727, D:/Claus-master/Claus-master/css/styles.scss */
  .payment-schedule
.tr:nth-of-type(2)
.td
p
,
  .payment-schedule
.tr:nth-last-of-type(2)
.td
p {
    font-size: 10px;
    font-family: Open Sans;
    line-height: 18px;
    color: #757575;
    margin-top: 5px; }
  /* line 738, D:/Claus-master/Claus-master/css/styles.scss */
  .payment-schedule
.tr
.button {
    background-color: #83c124;
    width: 139px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #83c124;
    color: #fff;
    font-size: 16px;
    font-weight: 600; }
  /* line 749, D:/Claus-master/Claus-master/css/styles.scss */
  .payment-schedule
.tr
.radio {
    display: inline-block;
    margin-right: 15px; }
  /* line 754, D:/Claus-master/Claus-master/css/styles.scss */
  .payment-schedule
.tr
.cancel {
    font-size: 16px;
    font-family: Open Sans;
    color: #83c124;
    font-weight: 600;
    margin-left: 20px;
    margin-left: 20px; }

@media only screen and (max-width: 768px) {
  /* line 773, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts.hide-xs {
    display: none; }
  /* line 777, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts.mobile-table {
    display: block; }
  /* line 781, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.tr {
    background: none !important;
    padding: 0px; }
    /* line 786, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr .td,
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th {
      width: 100% !important;
      text-align: center;
      padding: 25px; }
    /* line 792, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th {
      background: #f3f3f3; } }

/* line 804, D:/Claus-master/Claus-master/css/styles.scss */
.end-contract-page
h5.title {
  font-size: 18px;
  font-family: Open Sans;
  color: #6e6e6e;
  font-weight: 600;
  margin-bottom: 35px;
  line-height: 36px; }

/* line 813, D:/Claus-master/Claus-master/css/styles.scss */
.end-contract-page
h3.title {
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 300;
  vertical-align: middle;
  margin-bottom: 0; }
  /* line 820, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
h3.title
img {
    height: 18px;
    margin-right: 5px;
    vertical-align: top;
    margin-top: 4px; }
  /* line 828, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
h3.title + p {
    font-size: 12px;
    font-family: Open Sans;
    color: #6e6e6e;
    font-weight: 600;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 25px; }

/* line 841, D:/Claus-master/Claus-master/css/styles.scss */
.end-contract-page
.exp-description
.vis-screen {
  vertical-align: top; }

/* line 845, D:/Claus-master/Claus-master/css/styles.scss */
.end-contract-page
.exp-description
ul {
  display: inline-block; }
  /* line 848, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
.exp-description
ul
li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    line-height: 1.1; }
    /* line 854, D:/Claus-master/Claus-master/css/styles.scss */
    .end-contract-page
.exp-description
ul
li
p {
      margin-bottom: 0;
      margin-top: 0; }
    /* line 859, D:/Claus-master/Claus-master/css/styles.scss */
    .end-contract-page
.exp-description
ul
li
label {
      margin-right: 0 !important; }
      /* line 863, D:/Claus-master/Claus-master/css/styles.scss */
      .end-contract-page
.exp-description
ul
li
label:before {
        margin-right: 0 !important; }

/* line 873, D:/Claus-master/Claus-master/css/styles.scss */
.end-contract-page
.publik-feedback
.feedback-to-client {
  background: #fff;
  border: 1px solid #dadada;
  padding: 20px 30px 20px 30px;
  margin-bottom: 30px; }
  /* line 880, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
.publik-feedback
.feedback-to-client
h5 {
    font-size: 14px;
    font-family: Open Sans;
    color: #6e6e6e;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px; }
  /* line 891, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
.publik-feedback
.feedback-to-client
ul
li {
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 300;
    margin-top: 5px; }
    /* line 897, D:/Claus-master/Claus-master/css/styles.scss */
    .end-contract-page
.publik-feedback
.feedback-to-client
ul
li
.rate_row {
      display: inline-block;
      margin-right: 5px;
      line-height: 1;
      margin-top: 0; }
  /* line 907, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
.publik-feedback
.feedback-to-client
.total-score {
    font-size: 14px;
    font-family: Open Sans;
    color: #757575;
    font-weight: 300; }
    /* line 914, D:/Claus-master/Claus-master/css/styles.scss */
    .end-contract-page
.publik-feedback
.feedback-to-client
.total-score
span {
      font-size: 18px;
      font-weight: 600; }
  /* line 920, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
.publik-feedback
.feedback-to-client
label {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    color: #6e6e6e;
    display: block; }
  /* line 928, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
.publik-feedback
.feedback-to-client
textarea {
    width: 526px;
    height: 175px;
    padding: 10px 15px;
    border: 1px solid #d9d9d9; }

/* line 938, D:/Claus-master/Claus-master/css/styles.scss */
.end-contract-page
.publik-feedback
.form_button
.bth_green_snip {
  width: 139px;
  height: 35px;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  color: #fff;
  margin-bottom: 40px; }
  /* line 948, D:/Claus-master/Claus-master/css/styles.scss */
  .end-contract-page
.publik-feedback
.form_button
.bth_green_snip + a {
    margin-left: 20px;
    font-size: 16px;
    font-family: Open Sans;
    color: #83c124; }

/* line 962, D:/Claus-master/Claus-master/css/styles.scss */
.detailed-view-of-contracts-page
h2.title {
  font-size: 28px;
  font-weight: 600;
  color: #727272;
  margin: 25px 0 33px; }

/* line 969, D:/Claus-master/Claus-master/css/styles.scss */
.detailed-view-of-contracts-page
h1.title {
  font-size: 36px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: Open Sans;
  margin-bottom: 40px; }

/* line 977, D:/Claus-master/Claus-master/css/styles.scss */
.detailed-view-of-contracts-page
.content {
  width: calc(100% - 400px);
  margin-right: 15px;
  display: inline-block;
  margin-bottom: 50px; }
  /* line 983, D:/Claus-master/Claus-master/css/styles.scss */
  .detailed-view-of-contracts-page
.content
ul {
    border: 1px solid #d9d9d9; }
    /* line 987, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.content
ul
li {
      width: calc(100% / 3.07);
      display: inline-block;
      vertical-align: top;
      padding-left: 25px;
      border-right: 1px solid #d9d9d9;
      margin: 10px 0 10px;
      font-size: 18px;
      font-family: Open Sans;
      color: #6e6e6e;
      font-weight: 400;
      line-height: 36px; }
      /* line 1001, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.content
ul
li:last-of-type {
        border-right: none; }
      /* line 1007, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.content
ul
li span,
      .detailed-view-of-contracts-page
.content
ul
li
b {
        font-size: 30px;
        color: #83c124;
        font-weight: 700;
        display: block; }
      /* line 1014, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.content
ul
li
b {
        color: #7b7b7b;
        font-weight: 600; }
  /* line 1021, D:/Claus-master/Claus-master/css/styles.scss */
  .detailed-view-of-contracts-page
.content
a {
    font-size: 18px;
    font-family: Open Sans;
    color: #83c124;
    font-weight: 400;
    margin: 25px;
    display: table; }
  /* line 1031, D:/Claus-master/Claus-master/css/styles.scss */
  .detailed-view-of-contracts-page
.content
.table {
    width: 100%;
    border: 1px solid #d9d9d9; }
    /* line 1038, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.content
.table
.tr
.th {
      width: 40%;
      display: inline-block; }
    /* line 1043, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.content
.table
.tr
.td {
      width: calc(100% - 41%);
      display: inline-block; }
    /* line 1051, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.content
.table
.tr .td
p
,
    .detailed-view-of-contracts-page
.content
.table
.tr
.th
p {
      font-size: 18px;
      color: #6e6e6e;
      font-weight: 400;
      font-family: Open Sans;
      display: inline-block;
      margin: 0 !important;
      padding: 22.2px 25px; }
    /* line 1061, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.content
.table
.tr .td
span
,
    .detailed-view-of-contracts-page
.content
.table
.tr
.th
span {
      margin-left: 5px;
      color: #83c124;
      cursor: pointer; }
    /* line 1068, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.content
.table
.tr:nth-of-type(2n) {
      background: #fff; }

/* line 1075, D:/Claus-master/Claus-master/css/styles.scss */
.detailed-view-of-contracts-page
.sitebar {
  width: 380px;
  display: inline-block;
  vertical-align: top; }
  /* line 1081, D:/Claus-master/Claus-master/css/styles.scss */
  .detailed-view-of-contracts-page
.sitebar
.table {
    border: 1px solid #d9d9d9; }
    /* line 1084, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.sitebar
.table
h4.title {
      font-size: 18px;
      font-family: Open Sans;
      color: #6e6e6e;
      font-weight: 400;
      margin-left: 15px;
      padding: 5px 0; }
    /* line 1093, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.sitebar
.table
.tr {
      border-bottom: 1px solid #d9d9d9; }
      /* line 1097, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.sitebar
.table
.tr:last-of-type {
        border-bottom: none; }
    /* line 1102, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.sitebar
.table
.button {
      color: #fff !important;
      font-size: 14px;
      font-family: Open Sans;
      font-weight: 400;
      background: #83c124;
      padding: 5px;
      display: table;
      margin: 10px 10px 10px 15px; }
      /* line 1113, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.sitebar
.table
.button
i:before {
        font-size: 16px; }
    /* line 1118, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.sitebar
.table
.status {
      font-family: Open Sans;
      font-size: 20px;
      line-height: 36px;
      color: #7b7b7b;
      font-weight: 600;
      margin-left: 15px;
      margin-top: 0;
      padding-top: 10px; }
      /* line 1129, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.sitebar
.table
.status + p {
        font-size: 16px;
        margin: 0 10px 0 15px;
        color: #6e6e6e;
        font-weight: 400; }
    /* line 1139, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.sitebar
.table.contract-details
a {
      display: table;
      font-size: 16px;
      font-family: Open Sans;
      color: #83c124;
      font-weight: 400;
      margin-left: 15px; }
      /* line 1147, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.sitebar
.table.contract-details
a:first-of-type {
        margin-top: 10px; }
      /* line 1151, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.sitebar
.table.contract-details
a:last-of-type {
        margin-bottom: 20px; }
    /* line 1156, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.sitebar
.table.contract-details
.button {
      display: inline-block;
      color: #fff;
      margin-bottom: 10px !important;
      margin-right: 3px; }
      /* line 1162, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.sitebar
.table.contract-details
.button:nth-of-type(2) {
        margin-left: 0; }
      /* line 1166, D:/Claus-master/Claus-master/css/styles.scss */
      .detailed-view-of-contracts-page
.sitebar
.table.contract-details
.button
img {
        width: 20px;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -2px; }
  /* line 1178, D:/Claus-master/Claus-master/css/styles.scss */
  .detailed-view-of-contracts-page
.sitebar
.img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 20px; }
  /* line 1189, D:/Claus-master/Claus-master/css/styles.scss */
  .detailed-view-of-contracts-page
.sitebar
.description {
    display: inline-block;
    width: calc(100% - 117px);
    vertical-align: middle; }
    /* line 1195, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.sitebar
.description
h4.name {
      font-size: 20px;
      color: #7b7b7b;
      font-weight: 600;
      font-family: Open Sans; }
    /* line 1202, D:/Claus-master/Claus-master/css/styles.scss */
    .detailed-view-of-contracts-page
.sitebar
.description
p {
      font-weight: 400;
      font-size: 18px;
      font-family: Open Sans;
      color: #6e6e6e;
      line-height: 36px; }

/* line 1215, D:/Claus-master/Claus-master/css/styles.scss */
.work-diary
.select {
  width: 680px;
  position: relative; }
  /* line 1220, D:/Claus-master/Claus-master/css/styles.scss */
  .work-diary
.select:before {
    content: "";
    position: absolute;
    right: 12px;
    top: 15px;
    border: 7px solid transparent;
    border-top: 9px solid #83c124;
    pointer-events: none; }
  /* line 1230, D:/Claus-master/Claus-master/css/styles.scss */
  .work-diary
.select
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    border: 1px solid #81bf23;
    width: 100%;
    height: 38px;
    background-color: #ffffff;
    border-radius: 3px;
    font: 300 14px/36px Open Sans;
    padding-left: 25px; }
    /* line 1247, D:/Claus-master/Claus-master/css/styles.scss */
    .work-diary
.select
select::-ms-expand {
      display: none; }

/* line 1256, D:/Claus-master/Claus-master/css/styles.scss */
.add-manual-time
.modal-content {
  padding: 40px; }
  /* line 1258, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content
button.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 60px;
    font-weight: 300; }
  /* line 1268, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content
h2.title {
    font-size: 28px;
    font-family: Open Sans;
    color: #757575; }
  /* line 1275, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content .date,
  .add-manual-time
.modal-content
.time-zone {
    color: #757575;
    font-size: 14px;
    font-family: Open Sans;
    margin-top: 34px; }
    /* line 1281, D:/Claus-master/Claus-master/css/styles.scss */
    .add-manual-time
.modal-content .date
span
,
    .add-manual-time
.modal-content
.time-zone
span {
      width: 100px;
      display: inline-block;
      font-weight: 400; }
    /* line 1287, D:/Claus-master/Claus-master/css/styles.scss */
    .add-manual-time
.modal-content .date + label
,
    .add-manual-time
.modal-content
.time-zone + label {
      margin-right: 40px; }
  /* line 1293, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content
.date {
    font-weight: 600; }
  /* line 1297, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content
label {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    display: inline-block;
    margin: 0px 5px; }
  /* line 1305, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content
.select {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px; }
    /* line 1311, D:/Claus-master/Claus-master/css/styles.scss */
    .add-manual-time
.modal-content
.select:before {
      content: '\f107';
      font-family: FontAwesome;
      position: absolute;
      top: 3px;
      color: #83c124;
      right: 7px; }
    /* line 1321, D:/Claus-master/Claus-master/css/styles.scss */
    .add-manual-time
.modal-content
.select
select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      -ms-appearance: none;
      appearance: none !important;
      padding: 0 30px 0 15px;
      color: #83c124;
      font-size: 12px;
      font-weight: 400;
      line-height: 30px;
      height: 29px;
      border: 1px solid #d9d9d9; }
      /* line 1336, D:/Claus-master/Claus-master/css/styles.scss */
      .add-manual-time
.modal-content
.select
select::-ms-expand {
        display: none; }
  /* line 1342, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content
.textarea {
    vertical-align: top; }
    /* line 1345, D:/Claus-master/Claus-master/css/styles.scss */
    .add-manual-time
.modal-content
.textarea
label {
      margin-right: 31px;
      vertical-align: top; }
    /* line 1350, D:/Claus-master/Claus-master/css/styles.scss */
    .add-manual-time
.modal-content
.textarea
textarea {
      width: 385px;
      height: 160px;
      border: 1px solid #d9d9d9;
      padding: 10px 15px; }
    /* line 1357, D:/Claus-master/Claus-master/css/styles.scss */
    .add-manual-time
.modal-content
.textarea
p {
      font: 300 12px Open Sans;
      margin-left: 88px;
      width: 220px; }
  /* line 1364, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content
.button {
    background-color: #83c124;
    font-size: 16px;
    color: #fff;
    width: 139px;
    height: 35px;
    margin-left: 0; }
  /* line 1373, D:/Claus-master/Claus-master/css/styles.scss */
  .add-manual-time
.modal-content
a.cancel {
    font-size: 16px;
    font-weight: 600;
    color: #83c124;
    display: inline-block;
    margin-left: 20px; }

/* line 1386, D:/Claus-master/Claus-master/css/styles.scss */
.work-diary
.button {
  background-color: #83c124;
  padding: 0 20px;
  height: 35px;
  line-height: 33px;
  border-right: 5px;
  font-size: 16px;
  font-family: Open Sans;
  color: #ffffff;
  border: 1px solid #83c124;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 20px; }

/* line 1407, D:/Claus-master/Claus-master/css/styles.scss */
.chosen
.bd-skills
.list {
  min-height: 355px;
  position: relative; }

/* line 1412, D:/Claus-master/Claus-master/css/styles.scss */
.chosen
.bd-skills
.btn {
  position: absolute;
  bottom: 0; }

/*# sourceMappingURL=styles.css.map */
