/* line 1, D:/Claus-master/Claus-master/css/styles.scss */
.job-view-page {
  padding-top: 50px; }
  /* line 6, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.title
p {
    font-size: 16px !important;
    color: #727272 !important;
    margin-bottom: 0 !important; }
  /* line 13, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.job-view-description {
    width: calc(100% - 265px);
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 40px 55px;
    margin-bottom: 50px; }
    /* line 22, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.job-view-description
p {
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 600;
      font-family: Open Sans;
      color: #000; }
      /* line 30, D:/Claus-master/Claus-master/css/styles.scss */
      .job-view-page
.job-view-description
p.price {
        color: #6e6e6e; }
        /* line 34, D:/Claus-master/Claus-master/css/styles.scss */
        .job-view-page
.job-view-description
p.price
span {
          color: #83c124;
          margin-left: 10px; }
      /* line 41, D:/Claus-master/Claus-master/css/styles.scss */
      .job-view-page
.job-view-description
p
.description {
        color: #6e6e6e;
        margin-right: 10px;
        min-width: 100px;
        display: inline-block; }
  /* line 50, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.button {
    width: 208px;
    height: 43px;
    line-height: 43px;
    border-radius: 3px;
    text-align: center;
    float: right;
    vertical-align: top;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    background: #83c124;
    margin-left: 55px; }
  /* line 66, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.about {
    width: 100% !important; }
    /* line 69, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.about
.text-hidden {
      font-size: 14px !important;
      color: #000; }
    /* line 74, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.about
.more {
      color: #83c124; }
  /* line 82, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.skills
ul {
    margin-bottom: 30px; }
    /* line 85, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.skills
ul
li {
      display: inline-block;
      margin-right: 20px; }
  /* line 91, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.skills + p {
    font-size: 18px;
    color: #6e6e6e;
    font-weight: 600;
    margin-bottom: 15px; }
  /* line 100, D:/Claus-master/Claus-master/css/styles.scss */
  .job-view-page
.attachment {
    color: #83c124;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    display: table; }
    /* line 108, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.attachment:hover {
      color: #59de00; }
    /* line 112, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.attachment:focus {
      color: #489c5a; }
    /* line 116, D:/Claus-master/Claus-master/css/styles.scss */
    .job-view-page
.attachment
i:before {
      font-size: 24px;
      vertical-align: bottom;
      margin-right: 15px; }

/* line 129, D:/Claus-master/Claus-master/css/styles.scss */
span.more:hover
,
a.view-job:hover
,
.add-file label:hover {
  color: #59de00 !important; }

/* line 133, D:/Claus-master/Claus-master/css/styles.scss */
span.more:focus
,
a.view-job:focus
,
.add-file label:focus {
  color: #489c5a !important; }

/* line 138, D:/Claus-master/Claus-master/css/styles.scss */
.find-job {
  min-height: calc(100vh - 220px); }
  /* line 144, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.item {
    width: 812px;
    padding: 45px !important;
    margin-top: 20px;
    margin-bottom: 50px; }
  /* line 153, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.title
h3.title {
    margin: 0 0 20px !important;
    font-size: 18px;
    color: #000;
    font-weight: 600; }
    /* line 160, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.title
h3.title
span {
      font-size: 18px;
      font-family: Open Sans;
      color: #6e6e6e;
      margin-right: 15px; }
  /* line 170, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.view-job {
    font-size: 18px;
    font-family: Open Sans;
    color: #83c124; }
  /* line 176, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.about {
    width: 100% !important;
    margin-bottom: 10px !important; }
  /* line 181, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.change-hourly-rate {
    margin-top: 15px; }
    /* line 187, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.change-hourly-rate
p:first-of-type {
      border-top: 1px solid #e6e6e6;
      padding-top: 20px; }
  /* line 194, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.textarea {
    width: 92.5%;
    margin-top: 40px; }
    /* line 198, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.textarea
textarea {
      width: 100%;
      border: 1px solid #d9d9d9;
      height: 150px;
      resize: none;
      padding: 15px 25px;
      font-weight: 700; }
    /* line 207, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.textarea
label {
      font-size: 14px;
      font-weight: 400;
      color: #000;
      float: right;
      margin-top: 15px; }
  /* line 216, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.add-file {
    clear: both;
    margin-top: 90px; }
    /* line 220, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.add-file
#add_file {
      display: none; }
    /* line 224, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.add-file
label {
      font-size: 18px;
      color: #83c124;
      font-weight: 700;
      font-family: Open Sans;
      vertical-align: middle;
      cursor: pointer; }
      /* line 232, D:/Claus-master/Claus-master/css/styles.scss */
      .find-job.proposal-page
.add-file
label
i {
        vertical-align: middle; }
        /* line 235, D:/Claus-master/Claus-master/css/styles.scss */
        .find-job.proposal-page
.add-file
label
i:before {
          font-size: 24px;
          margin-right: 20px; }
    /* line 242, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.proposal-page
.add-file
#selectedFiles {
      font-size: 12px;
      line-height: 24px; }
      /* line 247, D:/Claus-master/Claus-master/css/styles.scss */
      .find-job.proposal-page
.add-file
#selectedFiles
.filesize {
        font-size: 12px; }
  /* line 253, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
input[type="submit"] {
    width: 208px;
    height: 43px;
    border: 1px solid #83c124;
    background: #83c124;
    color: #fff;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 0 !important;
    border-radius: 5px;
    margin-top: 35px; }
  /* line 268, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.proposal-page
.cancel {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-family: 'Source Sans Pro';
    height: 43px;
    line-height: 43px;
    margin-left: 40px; }
  /* line 283, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.title
h3.title {
    display: inline-block; }
  /* line 287, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.title
ul {
    float: right; }
    /* line 291, D:/Claus-master/Claus-master/css/styles.scss */
    .find-job.application-page
.title
ul
li {
      display: inline-block;
      margin-left: 30px;
      font-size: 16px;
      font-weight: 400;
      color: #000; }
      /* line 299, D:/Claus-master/Claus-master/css/styles.scss */
      .find-job.application-page
.title
ul
li
span {
        font-weight: 600;
        color: #6e6e6e; }
  /* line 311, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.change-hourly-rate
p.text {
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    border-bottom: none;
    margin-bottom: 0; }
  /* line 322, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.add-file {
    margin-top: 20px; }
  /* line 326, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
.add-files-project {
    background: #f9f9f9; }
  /* line 332, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti.active {
    margin-top: 20px;
    padding: 20px 20px 0; }
  /* line 337, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti
div {
    display: inline-block;
    margin-bottom: 20px; }
  /* line 342, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti
img {
    height: 60px;
    float: inherit;
    margin: 0 10px 0px 0;
    vertical-align: middle; }
  /* line 349, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti
.nameFile {
    width: auto !important;
    display: inline-block;
    vertical-align: middle;
    border: none !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    margin-right: 20px;
    padding: 0 !important; }
  /* line 360, D:/Claus-master/Claus-master/css/styles.scss */
  .find-job.application-page
#outputMulti
.textFile {
    font-size: 60px;
    vertical-align: middle;
    margin-right: 10px; }

/* line 373, D:/Claus-master/Claus-master/css/styles.scss */
.contracts_freelancer
.tabs-contracts {
  width: 100%; }
  /* line 383, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.description .price,
  .contracts_freelancer
.tabs-contracts
.table_contracts
.description .title,
  .contracts_freelancer
.tabs-contracts
.table_contracts
.description
.hours-worked {
    width: calc(100% / 3.03 );
    display: inline-block; }
  /* line 388, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.description
.hours-worked {
    color: #6e6e6e;
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans; }
  /* line 396, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.tables-applications {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    margin-bottom: 50px; }
  /* line 402, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.tr {
    padding: 25px;
    border-bottom: 1px solid #e1e1e1; }
    /* line 406, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr:first-of-type {
      background: #f3f3f3; }
    /* line 412, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th
p {
      margin-bottom: 0; }
      /* line 415, D:/Claus-master/Claus-master/css/styles.scss */
      .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th
p
b {
        font-size: 16px;
        font-family: Open Sans;
        color: #5b5b5b;
        font-weight: 700; }
    /* line 424, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.td {
      font-family: Open Sans;
      font-size: 16px;
      color: #5b5b5b;
      font-weight: 400; }
      /* line 431, D:/Claus-master/Claus-master/css/styles.scss */
      .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.td
p {
        margin-bottom: 0; }
    /* line 437, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr .td,
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th {
      display: inline-block;
      width: calc(100% / 3 - 150px); }
      /* line 443, D:/Claus-master/Claus-master/css/styles.scss */
      .contracts_freelancer
.tabs-contracts
.table_contracts
.tr .td:first-of-type
,
      .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th:first-of-type {
        width: 40%; }

/* line 460, D:/Claus-master/Claus-master/css/styles.scss */
.contracts_freelancer
.tabs-contracts
.table_contracts.mobile-table {
  display: none; }

/* line 471, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.close {
  position: absolute;
  font-size: 36px;
  right: 10px;
  top: 0px; }

/* line 478, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.modal-dialog {
  width: 600px; }
  /* line 482, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.modal-dialog
.modal-content {
    width: 100%;
    height: auto;
    padding: 60px 50px; }

/* line 491, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
h3 {
  font-size: 36px;
  font-weight: 400;
  font-family: Open Sans;
  margin-top: 0; }

/* line 499, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
.ico {
  width: 123px;
  display: inline-block; }

/* line 504, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
.text {
  display: inline-block;
  width: calc(100% - 128px);
  padding-left: 30px;
  vertical-align: top;
  margin-bottom: 20px; }

/* line 512, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
p {
  font-size: 24px;
  line-height: 30px;
  color: #a9a9a9;
  font-weight: 400;
  font-family: Open Sans; }
  /* line 519, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-content
p
img {
    width: 128px; }

/* line 524, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
.input {
  position: relative;
  width: calc(100% - 170px);
  display: inline-block; }
  /* line 529, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-content
.input
input {
    border: 1px solid #898989;
    width: 100%;
    padding: 0 40px 0 10px;
    height: 35px; }
  /* line 536, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-content
.input
i {
    position: absolute;
    right: 10px;
    top: 8px; }

/* line 544, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-content
input[type="submit"] {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
  background-color: #62cb31;
  border-radius: 5px;
  width: 145px;
  height: 35px;
  color: #fff;
  margin-left: 20px;
  border: 1px solid #62cb31; }

/* line 556, D:/Claus-master/Claus-master/css/styles.scss */
.modal.subscribe
.subscribe-thank {
  display: none; }
  /* line 559, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-thank
p {
    font-size: 30px;
    font-family: Open Sans;
    line-height: 36px;
    color: #515151;
    text-align: center;
    font-weight: 400; }
    /* line 567, D:/Claus-master/Claus-master/css/styles.scss */
    .modal.subscribe
.subscribe-thank
p
img {
      width: 154px; }
  /* line 572, D:/Claus-master/Claus-master/css/styles.scss */
  .modal.subscribe
.subscribe-thank
.ico {
    width: 103px;
    display: table;
    margin: 20px auto 0; }

@media only screen and (max-width: 768px) {
  /* line 592, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts.hide-xs {
    display: none; }
  /* line 596, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts.mobile-table {
    display: block; }
  /* line 600, D:/Claus-master/Claus-master/css/styles.scss */
  .contracts_freelancer
.tabs-contracts
.table_contracts
.tr {
    background: none !important;
    padding: 0px; }
    /* line 605, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr .td,
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th {
      width: 100% !important;
      text-align: center;
      padding: 25px; }
    /* line 611, D:/Claus-master/Claus-master/css/styles.scss */
    .contracts_freelancer
.tabs-contracts
.table_contracts
.tr
.th {
      background: #f3f3f3; } }

/*# sourceMappingURL=styles.css.map */
